@using GameStore.Models.ExtensionModels
@model GridViewModel<Event>

@{
    ViewData["Title"] = " | Event Catalog";
}

<h1 class="mt-3">Event Catalog</h1>

    <table class="table table-bordered table-striped table-sm">
        <thead class="thead-dark">
            <tr>
                    <th>
                        <my-sorting-link sort-field="@nameof(Event.Name)"
                            current="@Model.CurrentRoute">Event Name</my-sorting-link>
                    </th>
                    <th><my-sorting-link sort-field="@nameof(Event.Date)"
                            current="@Model.CurrentRoute">Date</my-sorting-link></th>
                    <th>Duration</th>
                    <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Event itemEvent in Model.Items)
            {
                <tr>
                    <td>
                        <partial name="_EventLinkPartial" model="@itemEvent" />
                    </td>
                    <td>
                        @itemEvent.Date.Value.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @itemEvent.Duration
                    </td>
                    <td>
                        <a asp-action="MyDetails" asp-controller="Event" 
                         asp-route-id="@itemEvent.EventId"
                         asp-route-slug="@itemEvent.Name.Slug()" class="btn btn-primary">
                            Details
                        </a>
                        <span class="linkSpacer ml-1 mr-1">|</span>
                        

                    @if (itemEvent.CustomerEvents.Where(item => item.Eventid == itemEvent.EventId && item.Customerid == ViewBag.UserId).FirstOrDefault() == null)
                    {
                        <a asp-action="MyRegister" asp-controller="Event" 
                         asp-route-id="@itemEvent.EventId"
                         class="btn btn-primary">
                            Register
                        </a>
                    }
                    else 
                    {
                    <a asp-action="MyDeregister" asp-controller="Event" 
                         asp-route-id="@itemEvent.EventId"
                         class="btn btn-primary">
                            Deregister
                    </a>
                    }
                    </td>
                </tr>
            }
        </tbody>
    </table>

@{
    for (int i = 1; i <= Model.TotalPages; i++)
    {
        <my-paging-link number="@i" current="@Model.CurrentRoute" />
    }
}

@*<partial name="_PagingLinksPartial" />*@