@using GameStore.Data.UtilityClasses
@using GameStore.Data.Static_Data
@model Game

@{
    ViewData["Title"] = " | Game Details";
    bool canBeDownloaded = false;
    canBeDownloaded = ViewBag.canBeDownloaded;

    int result = 5;

    var chk = "checked";
    var checked1 = result == 1 ? chk : null;
    var checked2 = result == 2 ? chk : null;
    var checked3 = result == 3 ? chk : null;
    var checked4 = result == 4 ? chk : null;
    var checked5 = result == 5 ? chk : null;
}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
   $(document).ready(function () {
    $('input[type=radio]').on('change', function()
    {
        console.log('HI!');
        window.location = '@Url.Action("Rating", "Game", new { id = Model.GameId, rating = result })';
    });

    });
</script>

<h1 class="mt-3">Game Details</h1>

<table class="table table-bordered table-sm">
    <thead>
        <tr class="thead-dark">
            <th>Name:</th><th>@Model.Name</th>
        </tr>
    </thead>
    <tbody>

        <tr><td>Description:</td><td>@Model.Description</td></tr>
        
        <tr>
            <td>@(Model.GameCategories.Count > 1 ? "Categories" : "Category")</td>
            <td>
                @foreach (GameCategory gc in Model.GameCategories) {
                            <p>
                                @gc.Category.Name
                            </p>
                }
            </td>
        </tr>

        <tr>
            <td>@(Model.PlatformGames.Count > 1 ? "Platforms" : "Platform")</td>
            <td>
                @foreach (PlatformGame pc in Model.PlatformGames) {
                            <p>
                                @pc.Platform.Name
                            </p>
                }
            </td>
        </tr>


        <tr>
            <td>@(Model.GameFeatureGames.Count > 1 ? "Game Features" : "Game Feature")</td>
            <td>
                @foreach (GameFeatureGame gfg in Model.GameFeatureGames) {
                            <p>
                                @gfg.GameFeature.Feature
                            </p>
                }
            </td>
        </tr>

        <tr><td>Quantity:</td><td>@Model.Pquantity.ToString()</td></tr>
        <tr><td>Price:</td><td>@Model.Price.Value.ToString("c")</td></tr>
        <tr><td>Discount:</td><td>@(Model.Discount != null ? Model.Discount.Value.ToString("c") : 0)</td></tr>
        <tr><td>Release Date:</td><td>@Model.ReleaseDate.Value.ToString("dd/MM/yyyy")</td></tr>
        <tr><td>Game Studio:</td><td>@(GameStudioList.GameStudios.FirstOrDefault(item => item.Id == Model.GameStudio) == null ? "No Information" : GameStudioList.GameStudios.FirstOrDefault(item => item.Id == Model.GameStudio).Name)</td></tr>
        <tr><td>Digital or Physical Copy:</td><td>@(Model.Digital == true ? "Digital" : "Physical")</td></tr>
    </tbody>
</table>



<div class="btn-group" role="group" aria-label="Basic example">
    <form>
        <a asp-action="AddGameDetails" asp-controller="Game" 
            asp-route-id="@Model.GameId"
            class="btn btn-primary mr-2">
            Add To Cart
      </a>
    </form>
     @if (Model.WishLists.Where(item => item.GameId == Model.GameId && item.CustId == ViewBag.UserId).FirstOrDefault() == null)
     {
       <a asp-action="AddToWishListDetails" asp-controller="Game" 
        asp-route-id="@Model.GameId"
        class="btn btn-primary">                     
            Add To Wist List                       
       </a>                                         
     }
     else 
     {
      <a asp-action="RemoveFromWishListDetails" asp-controller="Game" 
       asp-route-id="@Model.GameId"
       class="btn btn-primary">
            Remove From Wish List
      </a>
     }
</div>

@if (canBeDownloaded)
{
    <a asp-controller="Game" asp-action="Download" class="btn-primary btn mr-1 ml-1">Download file</a>
}

<a asp-controller="Game" asp-action="List" class="link-primary ml-2">Go back</a>

<form asp-controller="Game" asp-action="Rating" asp-route-id="@Model.GameId" asp-route-rating="@result" method="post" enctype="application/x-www-form-urlencoded">
    <div class="mt-4 mb-5">
        <h3 class="mt-1">Rating:</h3>
         <div class="rating">
            <input type="radio" checked="@checked5" id="star5-@result" name="@result" value="5" /><label for="star5-@result" title="Best">5 stars</label>
            <input type="radio" checked="@checked4" id="star4-@result" name="@result" value="4" /><label for="star4-@result" title="Good">4 stars</label>
            <input type="radio" checked="@checked3" id="star3-@result" name="@result" value="3" /><label for="star3-@result" title="Average">3 stars</label>
            <input type="radio" checked="@checked2" id="star2-@result" name="@result" value="2" /><label for="star2-@result" title="Not Great">2 stars</label>
            <input type="radio" checked="@checked1" id="star1-@result" name="@result" value="1" /><label for="star1-@result" title="Pretty Bad">1 star</label>
        </div>
    </div>
</form>
