@using GameStore.Data.UtilityClasses
@model GameStore.Models.ViewModels.AddressViewModel
@{
    string title = "Shipping Address Information:";
    ViewBag.Title = title;
}

    
    <h1 class="mt-3">@title</h1>


    <div class="form-group">
        <label asp-for="Address">Address: @(Model.Address == null ? "No Information" : Model.Address)</label>
    </div>

    <div class="form-group">
        <label asp-for="City">City: @(Model.City == null ? "No Information" : Model.City)</label>
    </div>

    <div class="form-group">
        <label asp-for="Province">Province: @(Model.Provinces.FirstOrDefault(item => item.Id == Model.Province) == null ? "No Information" : Model.Provinces.FirstOrDefault(item => item.Id == Model.Province).Name)</label>
    </div>

    <div class="form-group">
        <label asp-for="PostalCode">Postal Code: @(Model.PostalCode == null ? "No Information" : Model.PostalCode)</label>
    </div>

    <input type="hidden" asp-for="CustomerId" />

    <a asp-controller="Address" asp-action="EditShippingAddress" class="btn btn-primary">Edit</a>